@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*, *:before, *:after {  box-sizing: border-box; }

body { color: #444246; background: #f2f2eb;}

$sans: 'Open Sans', sans-serif;
$height: 48px;
$width: 72px;
$shadow: 0 3px 0 0 rgba(0,0,0,0.2);


div {
  width: $width;
  height: $height;
  position: relative;
  margin: 30px;
  display: inline-block;
  box-shadow: $shadow;
  vertical-align: middle;
  &:before,
  &:after{
    content:'';
    display: block;
    position: absolute;
  }
}

/* Envelope */
#envelope{
  border-radius: 5px;
  height: $height;
  width: $width;
  border-width: 24px 36px;
  border-style: solid;
  border-color: transparent #d9ad75 #cea169 #d9ad75;
  &:after,
  &:before{
    border-style: solid;
    width: 0;
    height: 0;
  }
  /* Top flap */
  &:after{
    border-width: 24px 36px;
    border-color: #e8bd86 transparent transparent transparent;
    box-shadow: 0 -5px 0 0 #e8bd86;
    left: -36px;
    top: -19px;
    border-radius: 5px 5px 0 0;
  }
  &:before{
    border-width: 32px 34px;
    border-color: rgba(0,0,0,0.1) transparent transparent transparent;
    left: -34px;
    top: -22px;
  }


}


/* Envelope */
#envelope02{
  top: 12px;
  height: $height;
  width: $width;
  border-radius: 5px;
  border-width: 24px 36px;
  border-style: solid;
  background: none;
  border-color: transparent #d9ad75 #cea169 #d9ad75;

  &:after,
  &:before{
    border-style: solid;
    width: 0;
    height: 0;
  }

  /* Page */
  &:after{
    height: 50px;
    width: 62px;
    border: 0;
    background: #fff;
    left: -31px;
    top: -30px;
    z-index: -1;
    //-webkit-animation: letter 4s infinite ease-in-out;
  }
  /* Flap */
  &:before{
    border-width: 24px 36px;
    border-color: transparent transparent #e8bd86 transparent;
    box-shadow: 0 40px 0 0 #e8bd86;
    top: -70px;
    left: -36px;
    z-index:-2;
  }
}

@-webkit-keyframes letter {
    0% { -webkit-transform: translateY(0px); }
   50% { -webkit-transform: translateY(-10px);}
  100% { -webkit-transform: translateY(0px);}
}

/* Calendar */
#calendar {
  width: $width;
  height: 23px;
  border-top: 20px solid #e05e5f;
  background: rgba(0,0,0,0.2);
  top: 23px;
  border-style: solid;
  border-width: 20px 20px 0px 0px;
  border-color: #f0f0f0 transparent transparent transparent;
  box-shadow: 0 -20px 0 0 #f0f0f0,
              0 -40px 0 0 #e05e5f;

  /* Fold */
  &:after{
    top: -20px;
    right: -20px;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #e0e0e0 transparent transparent transparent;
    background: #c8c6ba;
  }

  /* Holes */
  &:before{
    content:'01';
    position: relative;
    font: 1.75em/2.25em bold $sans;
    text-indent: 0.31em;
    background: #552827;
    border-radius: 100%;
    height: 8px;
    width: 8px;
    top: -54px;
    left: 12px;
    box-shadow:40px 0 0 #552827;
  }
}
/* Document */
#document {
  top: -28px;
  height: 0;
  width: $height + 10px;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent transparent #ffab00  transparent;
  box-shadow: 0 20px 0 0 #ffab00,
              0 40px 0 0 #ffab00,
              0 52px 0 0 #ffab00,
              0 55px 0 0 rgba(0,0,0,0.2);

  /* Top Crease */
  &:after{
    top: 0px;
    right: -20px;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent #fbc754;
  }

  /* Shadow */
  &:before{
    top: 20px;
    right: -20px;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent #d58f00 transparent transparent;
  }
}

/* Folder */
#folder{
  background: #6dbdc4;
  top: 8px;
  border-radius: 0 0 5px 5px;
  height: $height - 5px;
  width: $width;
  box-shadow:
    0 -10px 0 -5px #f3f3f3, /* Paper */
    0 -10px 0 0 #5ca1a7,
    0 3px 0 0 rgba(0,0,0,0.2);

  /* Tab */
  &:before{
    width: 35px;
    top: -25px;
    height: 20px;
    border-bottom: 10px solid #5ca1a7;
    border-right: 10px solid transparent;
    z-index: -1;
  }

  /* Extre Decor
  &:after{
    width: 50px;
    top: -5px;
    height: 10px;
    right: 0;
    border-bottom: 10px solid #6dbdc4;
    border-left: 10px solid transparent;
  }*/
}

/* Map */
#location{
    width: $width;
    height: $height + 14px;
    top: 5px;
    border: 3px solid #fff;
    box-shadow:
      inset 22px 0 0 0 #6fb0b6,
      inset 44px 0 0 0 #85d2d9,
      inset 66px 0 0 0 #6fb0b6,
      0 3px 0 0 rgba(0,0,0,0.2);
  &:before,
  &:after{
    left: 0; right: 0; margin: auto;
    transform: rotate(45deg);
  }
  /* Left */
  &:before{
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 10px;
    border-color: #bb4546 #bb4546 #e05e5f #e05e5f;
    border-radius: 100%;
    top:-22px;
  }
  /* Bottom */
  &:after{
    top: 4px;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 6px 12px 12px 6px;
    border-color: transparent #bb4546 #e05e5f transparent;
  }
}

#camera{
  width: $width;
  height: $height + 10px;
  background: #eee;
  border-top: 14px solid #888;
  border-bottom: 8px solid #888;
  border-radius: 5px;
}

#camera:before{
  width: 40px;
  height: 40px;
  background: #666;
  border-radius: 100%;
  left: 50%;
  margin: -3px 0 0 -20px;
  border: 6px solid #aaa;
}

/* Add more detail later */
#camera:after{
}

/* Lock */
#lock{
  width: $width;
  height: $height - 5px;
  background: #553e00;
  top: 10px;
  border-radius:5px 5px 0 0;
  box-shadow: $shadow,
    inset 0 12px 0 0 #efc84a ,

    inset 0 -4px 0 0 #efc84a,
    inset 0 -8px 0 0 #c7a536,
    inset 0 -12px 0 0 #efc84a,

    inset 33px 0 0 0 #efc84a,
    inset -33px 0 0 0 #efc84a;

  &:before{
    width: 50px;
    height: 30px;
    border-radius: 30px 30px 0 0;
    top: -30px;
    margin: auto;
    right: 0; left: 0;
    border-width: 8px 8px 0;
    border-color: #b9b6ad #b9b6ad transparent #b9b6ad;
    border-style: solid;
    z-index:-1;
    //animation: lock 1s 1 linear;
  }
  /* Key hole */
  &:after{
    width: 12px;
    height: 12px;
    background: #553e00;
    margin: 10px auto 0;
    position: relative;
    border-radius: 100%;
  }
}
/*@-webkit-keyframes lock {
     0% { transform: rotate(135deg);}
   99% { transform: rotate(90deg);}

}*/

#clock{
  height: $width - 8px; /* 64/2 = 32 */
  width: $width - 8px;
  border-radius: 100%;
  box-shadow:
    inset 0 2px 0 2px #d3d3d3,
    inset 0 0 0 27px #f3f3f3,
    0 0 0 7px #8bb153,
    0 3px 0 7px rgba(0,0,0,0.2);
  background: #706e6d;

  &:before,
  &:after{
    left: 50%;
    background: #706e6d;
  }

  /* Hand one */
  &:before{
    width: 4px;
    height: 20px;
    top: 12px; /* 32- 20*/
    transform-origin: 2px 100%;
    margin: 0 0 0 -2px;
    animation: rotate 45s infinite linear;
  }

  &:after{
    width: 2px;
    height: 28px;
    top: 4px; /* 32- 28*/
    transform-origin: 1px 100%;
    margin: 0 0 0 -1px;
    animation: rotate 15s infinite linear;
  }

}

@-webkit-keyframes rotate {
  100% { transform: rotate(360deg);}
}

#gear{
  border-radius: 100%;
  width: $width - 24px;
  height: $width - 24px;
  box-shadow:
    0 0 0 4px #b9b6ad,
    inset 0 0 0 8px #b9b6ad,
    inset 0 0 0 15px #e7e5d8;
  // animation: rotate 45s infinite linear;
}

/* Teeth */
#gear:after,
#gear:before{
  height: 14px;
  width: 14px;
  background: #b9b6ad;
  border-radius: 2px;
  z-index:-1;
  box-shadow: 0 62px 0 0 #b9b6ad,
              -31px 31px 0 0 #b9b6ad,
              31px 31px 0 0 #b9b6ad;
}

#gear:after{
  top: -15px;
  left: 17px;
}

#gear:before{
  top: -5px;
  left: 39px;
  transform: rotateZ(45deg);
}

/* Phone */
#iphone{
  height: $width;
  width: $height;
  background: #777;
  border-radius: 5px;
  border-style: solid;
  border-width: 10px 4px 14px;
  border-color: #2f2a2a;

  /* Button */
  &:after{
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background: #4b4848;
    bottom: -11px;
    left: 16px;
    box-shadow: 0 -59px 0 -2px #4b4848;
  }

  /* Reflection */
  &:before{
    border-style: solid;
    border-width: 0 40px 40px 0;
    border-color: transparent #999 transparent transparent;
    right: 0px;
  }
}
#img{
  height: $height + 15px;
  width: $width - 10px;
  background: #85d2d9;
  border-style: solid;
  border-width: 5px 5px 15px 5px;
  border-color: #fff;
  border-radius: 5px;
  overflow: hidden;

  /* Mountains */
  &:before{
    background: #bce382;
    border-radius: 5px;
    height:40px;
    width: 40px;
    top: 24px;
    left: -5px;
    box-shadow: 22px -16px 0 0 #8bb153;
    -webkit-transform: rotate(45deg);
  }

  /* Sun*/
  &:after{
    background: #fff;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    right:12px;
    top: 8px;
  }
}

#left{
  width: $width;
  height: $height;
  overflow: hidden;
  box-shadow: none;
}

#left:before{
  height: $height;
  width: $height;
  border-left: 8px solid #fff;
  border-top: 8px solid #fff;
  border-radius: 5px;
  left: 8px;
  z-index: -1;
  -webkit-transform: rotate(-45deg);

}

#left:after{
  width: $width - 20px;
  height: 8px;
  background: #fff;
  top: 50%;
  margin: -4px 0 0 10px;
  z-index:-2;
}


/* WIFI */
$off: #dbd9d2;
$on: #85d2d9;

@mixin b{
  border-left: 10px solid $off;
  border-top: 10px solid $off;
}

@mixin bt{
  border-left: 10px solid $on;
  border-top: 10px solid $on;
}

#wifi{
  margin: 30px 70px;
  top: 16px;
  width: 0px;
  height: 0px;
  transform: rotate(45deg);
  border-top-left-radius: 100%;
  animation: signal01 3s infinite;
  box-shadow: none;
  @include b;

  &:before,
  &:after{
    border-top-left-radius: inherit;
    border-top: inherit;
    border-left: inherit;
  }

  &:before{
    width: 30px;
    height: 30px;
    top: -30px;
    left: -30px;
    animation: signal02 3s infinite;
  }

  &:after{
    width: 50px;
    height: 50px;
    top: -50px;
    left: -50px;
    animation: signal03 3s infinite;
  }
}

@keyframes signal01 {
  0%, 15%, 35%, 60%, 80%, 100% {
    @include b;
  }
  20%, 30%, 85%, 95% {
    @include bt;
  }
}

@keyframes signal02 {
  0%, 30%, 50%, 65%, 85%, 100% {
    @include b;
  }
  35%, 45%, 70%, 80%  {
    @include bt;
  }
}

@keyframes signal03 {
  0%, 45%, 70%, 100% {
    @include b;
  }
  50%, 65% {
    @include bt;
  }
}

/* Heart */
$left:     #ff778b;
$right:    #a2405b;
#heart{
  box-shadow: none;
  height:$width;
  width:$width;
  border-radius: 100%;
  border: 7px solid #fb668c;
  background: #f3f3f3;
  &:before{
    border-radius: 100%;
    height: 20px; width: 20px;
    background: $left;
    top: 15px; left: 12px;
    box-shadow: 10px 10px 0 0 $right;
    transform: rotate(-45deg);
  }
  &:after{
    width: 0px;
    height: 0px;
    top: 22px; left: 19px;
    background: $right;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: $left transparent transparent transparent;
    transform: rotate(-45deg);
  }
}

#battery{
  width: $width;
  height: $height;
  background: #fff;
  border-width: 4px 12px;
  border-style: solid;
  border-color: #777;
  border-radius: 5px;
  box-shadow:
    22px 0 0 -15px #777,
    0 3px 0 0 rgba(0, 0, 0, 0.2);
  &:before{
    top: 4px;
    left: 34px;
    border-color: transparent;
    width: 10px;
    height: 0px;
    border-style: solid;
    border-width: $height - 16px 0 0 10px;
    box-shadow: -30px 0 0 0 #bce382,
                -15px 0 0 0 #bce382;
    animation: blink 1.2s infinite;
  }
}

@keyframes blink {
  0%, 50%{
    border-color: transparent;
  }
  51%, 100% {
    border-color: transparent transparent transparent #bce382;
  }
}

#paperclip{
  top: 15px;
  width: $width - 20px;
  height: $height/2;
  border-radius: 12px 0 0 12px;
  border-width: 3px 0 3px 3px;
  border-color: #e05e5f;
  border-style: solid;
  box-shadow: -2px 2px 0 0 rgba(0, 0, 0, 0.2),
    inset 0 2px 0 0 rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);

  &:before,
  &:after{
    border-color: #e05e5f;
    border-style: solid;
    box-shadow: 0px 2px 0 0 rgba(0, 0, 0, 0.2),
      inset 0 2px 0 0 rgba(0, 0, 0, 0.2);
  }
  &:before{
    width: 20px;
    height: 18px;
    border-radius: 0 12px 12px 0;
    border-width: 3px 3px 3px 0;
    right: -20px;
    top: -3px;
  }
  &:after{
    width: 40px;
    height: 13px;
    border-radius: 12px 0 0 12px;
    border-width: 3px 0 3px 3px;
    right: 0px;
    top: 2px;
  }
}

#bars{
  height: 48px;
  width: 18px;
  background: #e7e5d8;
  animation: bar01 4.0s infinite;
  &:before,
  &:after{
    bottom: 0;
    height: 48px;
    background: #e7e5d8;
    width: 18px;
  }
  &:before{
    left: -22px;
    animation: bar02 4.0s infinite;
  }
  &:after{
    right: -22px;
    animation: bar03 4.0s infinite;

  }
}

@keyframes bar01 {
  0%,100%{
    box-shadow: $shadow,
    inset 0 -42px 0 0 #8bb153;
  }
  40%,60% {
    box-shadow: $shadow,
    inset 0 -20px 0 0 #8bb153;
  }
}

@keyframes bar02 {
  0%,100%{
    box-shadow: $shadow,
    inset 0 -20px 0 0 #85d2d9;
  }
  40%,60% {
    box-shadow: $shadow,
    inset 0 -36px 0 0 #85d2d9;
  }
}

@keyframes bar03 {
  0%,100%{
    box-shadow: $shadow,
    inset 0 -10px 0 0 #ffab00;
  }
  40%,60% {
    box-shadow: $shadow,
    inset 0 -44px 0 0 #ffab00;
  }
}
